html,
body {
	width: 100%;
	// min-height: 100vh;
	max-width: 100%;
	// overflow: auto;
	position: relative;

	::-webkit-scrollbar {
		width: 0;
	}
}

body {
	// background-color: var(--page-bg);
	// color: var(--text-color);
	font-family: var(--font-main);

	background-image: url(../img/backgraund/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
